.page {
    color: #ffffff;
    background-color: #2a2c2f;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    width: 100%;
  }