/*
 * Сглаживание шрифтов для всей страницы, подробнее об этом —
 * в уроках про адаптацию страницы под различные устройства
 */

 .page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
  }
  
  /*
   * Всю секцию, в которой расположена форма, мы прибили
   * к левому краю при помощи фиксированного позиционирования
   */
  
  .form {
    width: 320px;
    height: 100vh;
    background: rgba(255, 255, 255, .95);
    border-right: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    transition: left .5s;
    font-family: 'Alegreya Sans', sans-serif;
  }
  
  /*
   * Класс, созданный для анимации секции с формой.
   * Свойство left будет плавно меняться, убирая секцию
   * за пределы экрана в нужный момент
   */
  
  .form_is-closed {
    left: -320px;
  }
  
  /* Блок с иконкой, сворачивающей и раскрывающей секцию с формой */
  
  .form__toggle {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, .95);
    position: absolute;
    top: 0;
    right: -50px;
    display: flex;
    cursor: pointer;
    transition: opacity .4s;
  }
  
  .form__toggle:hover {
    opacity: .8;
  }
  
  .form__toggle-image {
    width: 12px;
    height: 20px;
    margin: auto;
  }
  
  /* Поворот иконки, отвечающей за анимацию секции с формой */
  
  .form_is-closed .form__toggle-image {
    transform: rotate(180deg);
  }
  
  /*
   * Высота контейнера вычисляется функцией calc,
   * которую мы рассмотрим в уроках про адаптивную и отзывчивую верстку.
   * Свойство overflow отвечает за поведение внешнего контейнера в случае,
   * если содержимое не помещается в его размеры.
   * В данном случае — появится вертикальная прокрутка.
   */
  
  .form__main-container {
    height: calc(100vh - 40px);
    overflow-y: scroll;
  }
  
  /* Заголовок формы */
  
  .form__heading {
    font-size: 28px;
    line-height: 32px;
    width: 240px;
    margin: 23px auto 0;
  }
  
  .form__heading_type_ctrl-el-heading {
    margin: 35px auto 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
  }
  
  /* Непосредственно форма */
  
  .form__admin {
    height: 100vh;
  }
  
  /* Стили всех элементов fieldset */
  
  .form__input-container {
    width: 240px;
    margin: auto;
    padding-bottom: 50px;
    border: 0;
  }
  
  /* Линия-разделитель между fieldset'ами */
  
  .form__line {
    height: 1px;
    background-color: #000;
  }
  
  /* Общие стили для всех лейблов */
  
  .form__label {
    display: block;
    margin: 35px auto 0;
    font-size: 20px;
    line-height: 30px;
  }
  
  /* Общие стили для всех полей ввода */
  
  .form__item {
    border: 0;
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #bcbcc4;
    background-color: transparent;
    margin-top: 5px;
    font-size: 14px;
    font-family: inherit;
  }
  
  /* Замена цвета внешней линии при фокусе поля ввода */
  .form__item:focus {
    outline-color: #fff6c5;
  }
  
  
  
  .form__item_el_main-text {
    background: #fff;
    height: 150px;
    font-size: 14px;
    padding: 6px 6px 4px;
    border: 1px solid #bcbcc4;
  }
  
  
   .form__item[type="number"] {
    background-color: white;
    color: black;
    border: 1px solid #bcbcc4;
    padding: 0 4px;
  }
  
  
  .form__item[type="date"] {
    background-color: white;
    color: black;
    border: 1px solid #bcbcc4;
    padding: 0 4px;
    font-family: 'Alegreya Sans', sans-serif;
  }
  
  
  .form__item[type="color"] {
    height: 30px;
    width: 48px;
    border-bottom: 0;
    padding: 0;
  }
  
  .form__item[type="range"] {
    width: 144px;
    
  }
  
  
  .form__item[type="select"] {
    background-color: white;
    color: black;
    border: 1px solid #bcbcc4;
  }
  
  
   .form__item[type="radio"] {
    display: inline-block;
    width: 16px;
    height: 16px;
  }
  
  
  
  .form__item[type="checkbox"][value="two-columns"]{
    margin-left: 25px;
  }
  
  
  .form__item[type="checkbox"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0;
    
  }
  
  
  .form__label_direction_right {
    display: inline;
    font-size: 14px;
    line-height: 30px;
    margin-left: 10px;
  }
  
  /* Зона кнопок и сами кнопки */
  
  .form__handlers {
    border: 0;
    margin: 0;
    height: 40px;
  }
  
  /* Общие стили для всех кнопок */
  .form__button {
    width: 50%;
    height: 40px;
    font-size: 14px;
    border: 0;
    margin: 0;
    padding-bottom: 5px;
    cursor: pointer;
    transition: opacity .4s;
    color: white;
    font-family: inherit;
  }
  
  .form__button:hover {
    opacity: .7;
  }
  
  /* Замена цвета внешней линии при фокусе кнопки */
  .form__button:focus {
    outline-color: #fff6c5;
  }
  
  
  .form__button[type="submit"] {
    background-color: #000;
  }
  
  
  .form__button[type="reset"] {
    background-color: #ea3a3a;
  }
  
  /* Стили страницы */
  
  .content {
    font-family: 'Playfair Display', serif;
    width: 90%;
    margin: 0 auto;
    padding-top: 60px;
  }
  
  .content__heading {
    font-size: 55px;
    width: 523px;
    margin: auto;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
  }
  
  .content__subheading {
    text-align: center;
    width: 430px;
    font-size: 20px;
    line-height: 30px;
    margin: 40px auto;
  }
  
  .content__image-item {
    width: 100%;
  }
  
  .content__image-copyright {
    font-size: 14px;
    margin-top: 20px;
  }
  
  /*
   * В этом элементе мы применяем свойства column-count
   * и column-gap, они новые для вас.
   * Эти свойства разбивают текст на колонки.
   * column-count: 1; — означает текст в одну колонку
   * column-gap: 40px; — рекомендуемое расстояние между колонками
   */
  
  .content__text {
    width: 70%;
    font-size: 20px;
    line-height: 30px;
    margin: 30px auto;
    column-count: 1;
    column-gap: 40px;
  }
  
  .content__paragraph {
    margin: 30px 0;
  }
  
  .content__link {
    color: black;
  }
  
  .content__date {
    font-size: 20px;
    width: 70%;
    margin: 90px auto 0;
    text-decoration: underline;
  }
  
  .content__author {
    font-size: 20px;
    width: 70%;
    margin: 20px auto 0;
  }
  
  .footer__container {
    height: 100px;
  }
  