.lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #ffffff;
  }
  
  @media screen and (max-width: 767px) {
    .lead__title {
      font-size: 40px;
      line-height: 44px;
    }
  }