.footer__links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  @media screen and (max-width: 767px) {
    .footer__links {
      margin: 0;
      flex-direction: column;
      max-width: 186px;
      margin-left: 16px;
    }
  }