.footer__copyright {
    margin: 0;
    align-self: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
  }
  
  @media screen and (max-width: 767px) {
    .footer__copyright {
      align-self: flex-start;
      margin-top: 48px;
      margin-left: 16px;
      margin-bottom: 24px;
    }
  }
  