.two-columns__paragraph {
    font-weight: normal;
    line-height: 34px;
    font-size: 24px;
    margin: 0;
  }

.two-columns__paragraph:nth-child(2) {
    padding-top: 30px;
  }

.two-columns__paragraph:nth-child(3) {
    padding-top: 30px;
  }