.intro__text {
  max-width: 690px;
  margin-top: 40px;
  margin-bottom: 32px;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
  }
}
