.cover {
  display: flex;
  margin: 0 auto;
  margin-top: 92px;
  max-width: 1184px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover::after {
  content: "";
  width: 0;
  height: 0;
  padding-top: calc(740 / 1184 * 100%);
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    /* padding: 0; */
    /* margin-top: 92px; */

  }
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 768px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 320px;
    margin-top: 64px;
  }
}


.footer__nav { 
  padding-top: ;
}