.kaufman__triangle {
    z-index: 1;
    height: 877px;
    width: 877px;
    position: absolute;
    right: -210px;
    background-image: url(/images/kaufman-triangle.svg);
    background-position: center;
    background-size: cover;
  }
