.place__url-heading {
    margin-bottom: 12px;
    margin-top: 0;
    color: #aaa;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 767px) {
      .place__url-heading {
        line-height: 12px;
        padding-left: 16px;
      }
  }